<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDhEhC-aIG4MkfQTh_JYuGqMIZi27i3z8M</string>
	<key>GCM_SENDER_ID</key>
	<string>208078048542</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.assistantTfg.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>tfgassitantjarvis</string>
	<key>STORAGE_BUCKET</key>
	<string>tfgassitantjarvis.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:208078048542:ios:0f4795ccc709d3b8444d0f</string>
</dict>
</plist>